<!DOCTYPE html>
<html lang="en" style="min-height:65vw;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="upload_register_body" style="min-height:65vw">
<div class="nav">
    <img src="/static/baseline.png">
    <div class="links">
        <a href="/">HOME</a>
        <a href="/content">CONTENT</a>
        <a>INFO</a>
        <a href="/upload">UPLOAD</a>
        <a>REVIEW</a>

    </div>

    <div class="account_options">
        {% if current_user.is_authenticated %}
        <a href="/logout">Log Out</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Sign up</a>
        {% endif %}
    </div>

</div>

<div class="container-sm"
     style="display:flex; flex-direction:column; align-items:center; height:10vw !important; width:auto; margin-top:6vw;">
    <div class="welcome_text">
        <h1>Edit</h1>
        <h1 class="orange">Comment</h1>
    </div>

    <div style="background-color:black; height:0.05vw; width:20vw; margin-top:3vw;"></div>

    <form method="POST" enctype="multipart/form-data" style="display:flex; flex-direction:row;">
        {{ comment_form.hidden_tag() }}

        {{ comment_form.comment(placeholder = comment_form.comment.label.text, class="comment_form",
        style="width:40vw;") }}

        {{ comment_form.submit(class="comment_button", placeholder = comment_form.submit.label.text,
        style="margin-left:1vw;")}}
    </form>


</div>

<img src="/static/blue_blob_upload.png" id="blue_blob_register" style="margin-top:6vw;">
<img src="/static/orange_blob_upload.png" id="orange_blob_register" style="margin-top:6vw;">


<div class="footer">
    <div>
        <h1 class="bold" style="margin-bottom:1vw;">Contact me</h1>
        <div style="display:flex; align-items:center; margin-bottom:0.5vw;">
            <img src="/static/gmail.png" style="height:1.82vw">
            <h1 style="margin-left:1vw;">Dachi.nioradze@gmail.com</h1>
        </div>

        <div style="display:flex; align-items:center;">
            <img src="/static/instagram.png" style="width:2.25vw;">
            <h1 style="margin-left:1vw;">@Dachi.Nioradze</h1>
        </div>
    </div>

    <div>
        <h1>© 2024 BASELINE</h1>
    </div>

    <div>
        <h1 class="bold" style="margin-bottom:1vw;">Review Website</h1>
        <h1>Click Here To Review</h1>

    </div>


</div>


</body>
</html>



