<div class="footer">
    <div>
        <h1 class="bold" style="margin-bottom:1vw;">Contact me</h1>
        <div style="display:flex; align-items:center; margin-bottom:0.5vw;">
            <img src="/static/gmail.png" style="height:1.82vw">
            <h1 style="margin-left:1vw;">Dachi.nioradze@gmail.com</h1>
        </div>

        <div style="display:flex; align-items:center;">
            <img src="/static/instagram.png" style="width:2.25vw;">
            <h1 style="margin-left:1vw;">@Dachi.Nioradze</h1>
        </div>
    </div>

    <div>
        <h1>© 2024 BASELINE</h1>
    </div>

    <div>
        <h1 class="bold" style="margin-bottom:1vw;">Review Website</h1>
        <a href="/upload_review" style="text-decoration:none;">
            <h1>Click Here To Review</h1>
        </a>

    </div>


</div>